@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./reset.css);

:root{
  --laranja-primario:#FF5700;
  --laranja-secundario: #FE9329;
  --branco-padrao: #FFFFFF;
  --cinza-texto: #696969;
  --cinza-claro:#D9D9D9;
  --preto-padrao: #444444;
  --fonte-principal:  "Montserrat", sans-serif;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--branco-padrao)
}