@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./reset.css);

:root{
  --laranja-primario:#FF5700;
  --laranja-secundario: #FE9329;

  --verde: #abca30;
  --rosa: #ff859f;
  --vermelho: #DD2525;

  --preto-padrao: #444444;
  --branco-padrao: #FFFFFF;
  --cinza-texto: #696969;
  --cinza-claro:#D9D9D9;

  --fonte-principal:  "Montserrat", sans-serif;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--branco-padrao)
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--laranja-primario);
}

p {
  color: var(--cinza-texto);
  font-size: 1.1rem;
  font-weight: 500;
}

button {
  display: flex;
  padding: 1rem;
  font-size: 1.2rem;
  width: 20em;
  justify-content: center;
  background-color: var(--laranja-primario);
  color: var(--branco-padrao);
  border: none;
  border-radius: 10px;
  font-weight: 550;
}

button:hover {
  background-color: var(--laranja-secundario);
}

input {
  margin: 0.6rem 0;
  background-color: var(--cinza-claro);
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--laranja-primario);
  border-radius: 13px;
  padding: 0.8em 4em;
}

input::placeholder {
  font-family: var(--fonte-principal);
  font-style: italic;
}