@import url(../style.css);

header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem;
    font-size: 1.5;
}

h1 {
    font-size: 2.2rem;
    font-weight: 550;
    color: var(--laranja-primario);
}

.form-container {
    margin: 2rem;
}

.form-group {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 2rem; /* funciona como um gap */
}

.form-group-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem; /* gap entre o botao e o formulario */
}

input {
    display: flex;
    padding: 10px;
    font-size: 1.2rem;
    border-color: var(--laranja-primario);
    background-color: var(--cinza-claro);
    color: var(--cinza-texto);
    border-radius: 15px;
}

button {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
    width: 20em;
    justify-content: center;
    background-color: var(--laranja-primario);
    color: var(--branco-padrao);
    border: none;
    border-radius: 10px;
    font-weight: 550;
}

button:hover {
    background-color: var(--laranja-secundario);
}